@model IEnumerable<EcommerceProject.Models.GetNetworkSalesManagerModel>

@{
    ViewData["Title"] = "GetNetworkBySalesManager";
}

<h1>GetNetworkBySalesManager</h1>

<br />
<br />
<br />

@{
    long salemanId = 0;
    List<DistrictModel> distlist = new List<DistrictModel>();
    List<UserRegistrationModel> deliveryboys = new List<UserRegistrationModel>();
    List<SubDivisionModel> subdivlists = new List<SubDivisionModel>();
    var modelist = Model.ToList();
    if(modelist.Count()>0)
    {
        foreach (var mlist in modelist)
        {
            salemanId = mlist.SalesManagerId;
            deliveryboys = mlist.deliveryboylist;
            distlist = mlist.districtmodel;
            subdivlists =mlist.subdivisionlist;

            break;
        }
    }
   
  
  
}

<button class="btn btn-primary m-2 mb-3 assign-area" data-bs-toggle="modal" data-bs-target="#myModalone">Assign Delivery Boy <i class="fa fa-edit" style="font-size:15px"></i></button>



<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
   
            <th>
                @Html.DisplayNameFor(model => model.Sub_DivisionsName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            if (item.MobileNo != null)
            {
                <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Sub_DivisionsName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
}
    </tbody>
</table>



<div class="modal" id="myModalone">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Assign Area</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <!-- Add your form elements here -->
                <form asp-action="AssigLocationToDeliveryBoy">
                   
                    <input type="number" class="form-control mb-3" id="SalesManagerId" name="SalesManagerId" value="@salemanId" hidden>
                    <input type="number" class="form-control mb-3" id="DistrictId" name="DistrictId" placeholder="enter product Description" hidden>
                    <div class="form-control">
                    <Label for="DistrictName" class="form-label">Select District</Label>
                    <input list="brow" name="DistrictName" id="DistrictName" class="form-control" placeholder="District Name">
                    <datalist id="brow">

                        @foreach (var it in distlist)
                         {   
                            
                           <option value="@it.DistrictName"></option>
                                           
                        }                              
                    </datalist>
                    </div>
                    <div class="form-control">
                    <Label for="Id" class="form-label">Select Sub_Division</Label>
                        <select class="form-select form-control" name="Sub_DivisionId" id="getid">

                            <option value="">select District First</option>

                        </select>
                    </div>
                    <div class="form-control">
                        <Label for="DeliveryBoyId" class="form-label">Select Delivery Boy</Label>
                        <select class="form-select form-control" name="DeliveryBoyId" id="DeliveryBoyId">

                            @foreach (var it in deliveryboys)
                            {

                                <option value="@it.Id">@it.UserName</option>

                            }

                        </select>
                    </div>
                    <hr />
                    <button class="btn btn-danger mt-3" data-bs-dismiss="modal" style="float:left"> Cancel </button>
                    <button type="submit" class="btn btn-primary mt-3" data-bs-dismiss="modal" style="float:right"> Assign </button>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    document.getElementById('DistrictName').addEventListener('change', function () {
        var distlist = @Html.Raw(Json.Serialize(distlist));
        var checkid = 0;
        var subdivlist = @Html.Raw(Json.Serialize(subdivlists));
        distlist.forEach(function (item) {
            var did = document.getElementById('DistrictName').value;
            console.log(did+' yes 1')
            if (did == item.districtName) {
                checkid = item.id;
                console.log(checkid+' her 2');
            }
            // Code to execute for each item in the distlist
            document.getElementById('DistrictId').value = checkid;
        });

        subdivlist.forEach(function (item) {
            // Code to execute for each item in the distlist
            console.log(item);
        });
        var elemsubId = document.getElementById('getid');
        var html = '';

        subdivlist.forEach(function (item) {
            if (item.districtId == checkid) {
                console.log(item);
                console.log(item.sub_DivisionsName);
                console.log(item.id);
                html += `<option value="${item.id}">${item.sub_DivisionsName}</option>`;
            }
        });

        elemsubId.innerHTML = html;
    })
</script>
