@model IEnumerable<EcommerceProject.Models.ProductAdd>

@{
    ViewData["Title"] = "GetproductBySearchText";
}
<h5 class="text-center">Shop Now </h5>
<br />
<br />
<br />
@foreach (var item in Model)
{
    string descrip = item.Description;
    string[] des = descrip.Split(".");

    string d1 = des[0];
    string d2 = des[1];
    string d3 = des[2];

    string str = item.ImageUrl;
    string[] strs = str.Split(",");
    string imgs = strs[0];

    <hr />
    <div class="row mt-3">
        <div class="col-1"></div>
        <div class="col-3">
            <img src="@imgs" alt="book images" class="mt-2 mb-2 ms-5 x-5 rounded" width="150" height="200">
        </div>
        <div class="col-4">
            <h5>@item.ProductName</h5>
            <ul>
                @for (int i = 0; i < des.Length; i++)
                {
                    <li>@des[i]</li>
                }
            </ul>
            <span class="badge bg-warning text-dark">  <h-5><strong>Rs</strong> : @item.SellingPrice -/ </h-5> </span>
        </div>
        <div class="col-3">

            @Html.ActionLink("View Details", "Details", new {  id=item.Id },new{@class="btn btn-primary mx-1 my-5", @style="float left"})
            @Html.ActionLink("Add To Cart", "AddToCart","Cart", new {  productsid=item.Id },new{@class="btn btn-info mx-1 my-5",@style="float: left;"})
        </div>
        <div class="col-1"></div>
    </div>
    <hr />
}