@model IEnumerable<EcommerceProject.Models.GetAllOrdersForAdmin>

@{
    ViewData["Title"] = "GetAllOrders";
}

<h1>GetAllOrders</h1>
<br />
<br />

<div class="container-fluid">
<div class="sales-boxes">
    <div class="recent-sales box">
        <div class="title text-center mb-3">All Orders</div>
        <div class="sales-details">       
            <table class="table table-striped table-hover">
             
                <thead class="text-center">
                    <tr>
                        <th>
                                @Html.DisplayNameFor(model => model.SrNo)
                        </th>
                        <th>
                                @Html.DisplayNameFor(model => model.ProductId)
                        </th>
                        <th>
                                @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                        <th>
                                @Html.DisplayNameFor(model => model.OrderCounts)
                        </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderQuantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Available_Products)
                            </th>
                            <th>
                               SalesManager
                            </th>
                            <th>
                                DistrictName
                            </th>
                    

                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                   
                <tbody class="text-center">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SrNo)
                            </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductId)
                                </td>
                            <td class="">
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>

                            <td class="">
                                    @Html.DisplayFor(modelItem => item.OrderCounts)
                            </td>
                            <td class="">
                                    @Html.DisplayFor(modelItem => item.OrderStatus)
                            </td>

                            <td class="">
                                    @Html.DisplayFor(modelItem => item.OrderQuantity)
                            </td>
                            <td class="">
                                    @Html.DisplayFor(modelItem => item.Available_Products)
                            </td>
                            <td class="">
                                    @Html.DisplayFor(modelItem => item.SalesManagerName)
                            </td>
                            <td class="">
                                    @Html.DisplayFor(modelItem => item.DistrictName)
                            </td

                            <td>
                                    @Html.ActionLink("", "UpdateOrder", new {  id=item.ProductId},new{@class="btn fa fa-edit",style="font-size:40px;color:DodgerBlue"})
                            </td>

                        </tr>
                    }
                </tbody>
            </table>



        </div>

    </div>
</div>
</div>